@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100;200;300;400;500;600;700;800;900&display=swap');


@layer utilities {
  .font-murecho {
    font-family: 'Murecho', sans-serif;
   
  }
}

.swiper-pagination-bullet {
  background-color: #ef4444; /* ভেতরে লাল (red-500) */
  border: 2px solid #fca5a5; /* border red-300 */
  opacity: 0.7;
  width: 12px;
  height: 12px;
}

/* active bullet */
.swiper-pagination-bullet-active {
  background-color: #ef4444; /* ভেতরে গাঢ় লাল */
  border: 2px solid #fca5a5; /* border red-300 */
  opacity: 1;
}


/* Custom calendar styling */
.custom-calendar {
  background-color: white !important;
  border: 1px solid #e5e7eb !important; /* Tailwind gray-200 */
  border-radius: 12px !important;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1) !important;
  padding: 8px !important;
  width: 100% !important; /* ✅ parent এর width inherit করবে */
}

/* Active day (selected date) */
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #ef4444 !important; /* red-500 */
  color: white !important;
  border-radius: 9999px !important;
}

/* Hover effect */
.react-datepicker__day:hover {
  background-color: #fee2e2 !important; /* red-100 */
  border-radius: 9999px !important;
}

/* Header style */
.react-datepicker__header {
  background-color: white !important;
  border-bottom: 1px solid #e5e7eb !important;
}

.custom-calendar {
  z-index: 9999 !important;
}

/* searchbar */
@keyframes pulseBar {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.5);
  }
}

.pulse-bar {
  animation: pulseBar 1.5s infinite ease-in-out;
  transform-origin: center;
}


/* Hide Google branding texts */
.goog-logo-link,
.goog-te-gadget span {
  display: none !important;
}

/* Remove default background */
.goog-te-gadget {
  font-size: 0 !important;
}

/* Style the dropdown */
.goog-te-gadget select {
  display: none; /* hidden by default */
  margin-top: 8px;
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: white;
  font-size: 14px !important;
  cursor: pointer;
}

/* dropdownmenu */
/* Custom Range Slider Styling */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  pointer-events: auto;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #ef4444; /* Tailwind red-500 */
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-moz-range-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ef4444;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}



