@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100;200;300;400;500;600;700;800;900&display=swap');


@layer utilities {
  .font-murecho {
    font-family: 'Murecho', sans-serif;
   
  }
}

.swiper-pagination-bullet {
  background-color: #ef4444; /* ভেতরে লাল (red-500) */
  border: 2px solid #fca5a5; /* border red-300 */
  opacity: 0.7;
  width: 12px;
  height: 12px;
}

/* active bullet */
.swiper-pagination-bullet-active {
  background-color: #ef4444; /* ভেতরে গাঢ় লাল */
  border: 2px solid #fca5a5; /* border red-300 */
  opacity: 1;
}


/* Custom calendar styling */
.custom-calendar {
  background-color: white !important;
  border: 1px solid #e5e7eb !important; /* Tailwind gray-200 */
  border-radius: 12px !important;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1) !important;
  padding: 8px !important;
  width: 100% !important; /* ✅ parent এর width inherit করবে */
}

/* Active day (selected date) */
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #ef4444 !important; /* red-500 */
  color: white !important;
  border-radius: 9999px !important;
}

/* Hover effect */
.react-datepicker__day:hover {
  background-color: #fee2e2 !important; /* red-100 */
  border-radius: 9999px !important;
}

/* Header style */
.react-datepicker__header {
  background-color: white !important;
  border-bottom: 1px solid #e5e7eb !important;
}

